@keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
@media only screen and (max-width:1000px)
{
    #main
    {
        width: 50%;
    }
    .btn
    {
        font-size: 10px;
    }
    .btn .arrow
    {
        font-size: 30px !important;
    }
}
@media only screen and (min-width:1000px) and (max-width:1500px)
{
    #main
    {
        width: 40%;
    }
}
@media only screen and (min-width:1500px) 
{
    #main
    {
        width: 30%;
    }
}

html,body
{
    height: 100%;
    margin: 0 0 0 0;
    display: grid;
}
h1,h2,h3,h4
{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    margin-left:1em;
    text-align: justify;
    font-size: 1.5em;
}
hr{
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}
nav
{
  height:5vh;
}
#main
{
    background-color:#161618  !important;
    z-index: 0;
    border-radius: 15px;
    color: #f2f5f4;
}
#main-title
{
    font-size: 20px;
}
.btn
{
    width: 100%;
    height: 100%;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn h3
{
    font-size: 25px;
}
.btn:hover
{
    background-color: #008fff ;
    transition: 0.5s;
    cursor: pointer;
}
.btn .arrow
{
    cursor: pointer;
    transition: 0.5s;
    font-size: 60px;
    margin:auto;
}
.btn:hover .arrow
{
    font-size: 70px;
    cursor: pointers;
    transition: 0.5s;
    margin:auto;
}
#questions
{
    z-index: 50;
}
.question
{
    border-top: 2px solid white;
    display: grid;
    grid-template-columns: 80% 20%;
}

#main{
    margin: auto;
}
#questions
{
    margin:auto;
}
.title-nav
{
    cursor: pointer;
   
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
}
.title-nav:hover
{
    transition: 0.75s;
    background-color: #008fff;
}
.fadein
{
    transition: 1s;
    opacity: 1;
}
.fadeout
{
    transition: 0.5s;
    opacity: 0;
}



 
  
.tree ul {
  position: relative;
  padding: 1em 0;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}
.tree ul::after {
  content: '';
  display: table;
  clear: both;
}

.tree li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 1em .5em 0 .5em;
}
.tree li::before, .tree li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 1em;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}
.tree li:only-child {
  padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
  border: 0 none;
}
.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
}

.tree ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 1em;
}

.tree li button{
  border: 1px solid #ccc;
  padding: .5em .75em;
  text-decoration: none;
  /* display: inline-block; */
  border-radius: 5px;
  color: #333;
  position: relative;
  top: 1px;
}

.tree li button:hover,
.tree li button:hover + ul li button {
  background: #008fff;
  color: #fff;
  border: 1px solid #008fff;
}
/*
complied from scss
*/
.tree li button:hover + ul li::after,
.tree li button:hover + ul li::before,
.tree li button:hover + ul::before,
.tree li button:hover + ul ul::before {
    border-color: #008fff;
}
.hidden
{
  transition: 1s;
  display: none;
}
.shown
{
  transition: 1s;
  display: block;
}